.good {
  overflow: hidden;
  color: rgba(77, 82, 82, 0.411);
  font-weight: 900;
  text-decoration: line-through;
}

.display {
  display: none;
}

.stuff {
  max-width: 200px;
  display: flex;
  justify-content: space-evenly;
}
/* 
.list {
  background-color: black;
  padding: 10rem;
} */
